.mainContainer,
.mainContainerShow {
  position: fixed;
  left: 0;
  top: 66px;
  width: 200px;
  height: calc(100vh - 66px);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  font-family: "Epilogue";
  transition: width 0.1s ease-in-out;
}

.topSidebar {
  margin-top: 24px;
}

.topSidebar ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
}

.sidebarIcon {
  width: 20px;
  height: 20px;
}

.bottomSidebar {
  margin-bottom: 24px;
}

.bottomSidebar ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
}

.bottomSidebar ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  padding: 12px 24px;
}

.bottomSidebar ul li:hover {
  border-radius: 4px;
}

.sidebarIcon {
  width: 20px;
  height: 20px;
}

.active {
  background-color: black;
  color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  padding: 12px 24px;
}

.sidebarItem {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  padding: 12px 24px;
}

.sidebarItem:hover {
  background-color: rgb(242, 242, 242);
  border-radius: 4px;
}

/* Resoltion - 768px x 1024px
Device - iPad  */

@media (max-width: 768px), (max-width: 1024px) {
  .mainContainer {
    height: calc(100vh - 54px);
    width: 70px;
    align-items: center;
  }

  .mainContainerShow {
    height: calc(100vh - 54px);
    align-items: center;
  }

  .sidebarLabel {
    display: none;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease 0.3s;
  }

  .sidebarLabelShow {
    display: flex;
    opacity: 1;
    pointer-events: none;
    transition: opacity 3s ease;
  }

  .sidebarIcon {
    width: 24px;
    height: 24px;
  }

  .topSidebar {
    width: 100%;
  }

  .bottomSidebar {
    width: 100%;
  }
}
