.mainContainer {
  padding: 32px 24px;
  width: 250px;
  height: calc(100vh - 68px);
  font-family: "Epilogue";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topSidebar ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 14px;
}

.topSidebar ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.sidebarIcon {
  width: 20px;
  height: 20px;
}

.bottomSidebar ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 14px;
}

.bottomSidebar ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.sidebarIcon {
  width: 20px;
  height: 20px;
}
