.cardCapsuleContainer {
  margin-top: 12px;
  font-size: 12px;
  display: flex;
  gap: 8px;
}

.cardCapsule {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 4px 16px;
  border-radius: 9999px;
  cursor: pointer;
  border: 2px solid gainsboro;
}

.capsuleIconContainer {
  width: 25px;
  height: 25px;
  padding: 6px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 700;
}

.allCapsule {
  border: 2px solid #8b5cf6;
}

/* .pendingCapsule {
  border: 2px solid #3b82f6;
}

.completeCapsule {
  border: 2px solid #10b981;
}

.inProgressCapsule {
  border: 2px solid #f59e0b;
} */

.allIconContainer {
  background-color: #8b5cf6;
  color: white;
}

.pendingIconContainer {
  background-color: #3b82f6;
  color: white;
}

.completeIconContainer {
  background-color: #10b981;
  color: white;
}

.inProgressIconContainer {
  background-color: #f59e0b;
}

.capsuleIcon {
  width: 14px;
  height: 14px;
}

.completeCapsuleIcon {
  width: 14px;
  height: 14px;
  color: white;
}

.orderCardContainer {
  display: flex; /* instead of inline-flex */
  flex-wrap: wrap;
  align-items: flex-start; /* ✅ prevents stretching */
  margin-top: 24px;
  width: 100%;
  gap: 16px;
}

.orderCard {
  background-color: #fef3c7;
  width: 24%;
  padding: 16px 12px;
  border-radius: 10px;
  border-left: 4px solid #f59e0b;
}

.inProgressOrderCard {
  background-color: #dbeafe;
  border-left: 4px solid #3b82f6;
}

.completedOrderCard {
  background-color: #d1fae5;
  border-left: 4px solid #10b981;
}

.orderId {
  font-size: 14px;
  font-weight: 500;
}

.firstContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderStatus {
  font-size: 10px;
  background-color: #f59e0b;
  padding: 4px 12px;
  border-radius: 9999px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 2px;
}

.inProgressStatus {
  background-color: #3b82f6;
  color: white;
}

.completedStatus {
  background-color: #10b981;
  color: white;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  margin-top: 16px;
}

.secondContainer {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderType {
  font-size: 12px;
  padding: 2px 8px;
  border: 1px solid gainsboro;
  display: inline-flex;
  border-radius: 4px;
}

.orderTime {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 3px;
  color: gray;
}

.thirdContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.orderItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderItemContainer {
  font-size: 12px;
}

.buttonContainer {
  margin-top: 16px;
}

.startPrepButton {
  width: 100%;
  background-color: #3b82f6;
  color: white;
}

.inProgressButton {
  background-color: #10b981;
}

.inProgressButton:hover {
  background-color: #0d986a !important;
}

.startPrepButton:hover {
  background-color: #2563eb;
  color: white;
}

.completeButton {
  width: 100%;
  background-color: #10b981;
}

.completeButton:hover {
  background-color: #10b981;
  cursor: not-allowed;
}
