.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 105px);
}

.summaryTopContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.summaryTopContainer::-webkit-scrollbar {
  display: none;
}

.summaryBottomContainer {
  padding-bottom: 24px;
  display: flex;
  gap: 12px;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.printButton {
  width: 25%;
}

.placeOrderButton {
  width: 75%;
}

.topCard {
  padding: 16px;
  background-color: white;
  border-radius: 12px;
}

.bottomCard {
  padding: 16px;
  background-color: white;
  border-radius: 12px;
}

.summaryContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
}

.iconContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.orderId {
  font-size: 12px;
  color: gray;
  display: flex;
  align-items: center;
}

.peopleContainer {
  font-size: 12px;
  font-weight: 500;
}

.totalItems {
  font-size: 14px;
  color: gray;
}

.orderItems {
  display: flex;
  gap: 10px;
  font-size: 12px;
}

.orderPrice {
  font-size: 12px;
  font-weight: 500;
}

.orderEntry {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.orderQuantity {
  color: gray;
}

.orderName {
  color: gray;
}

.totalPayment {
  font-weight: 500;
}

.paymentCardContainer {
  margin-top: 12px;
  display: flex;
  gap: 8px;
}

.paymentCard {
  width: 50%;
}

.paymentName {
  font-size: 12px;
}
