.mainContainer {
  padding: 24px;
  width: 100%;
}

.header {
  font-family: "Epilogue";
  font-weight: 400;
  font-size: 18px;
}

.capsuleContainer {
  margin-top: 12px;
  display: flex;
  gap: 12px;
}

.capsule {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #16a19c;
  padding: 6px 20px;
  border-radius: 9999px;
  cursor: pointer;
}

.capsuleText {
  font-size: 12px;
}

.capsuleNumber {
  font-size: 12px;
  background-color: #16a19c;
  color: white;
  padding: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.inactiveCapsule {
  border-color: gainsboro;
}

.dineIn {
  background-color: #125c58;
}

.waitlist {
  background-color: #cc6540 !important;
}

.takeaway {
  background-color: #693086 !important;
}

.served {
  background-color: #043605;
}

.cardContainer {
  margin-top: 24px;
  display: flex;
  gap: 12px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.cardContainer::-webkit-scrollbar {
  display: none;
}

.cardSliderContainer {
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #c4e8e2;
  width: 24.2%;
  height: 120px;
  padding: 14px;
  border-radius: 12px;
  flex-shrink: 0;
}

.waitListCard {
  background-color: #ffe2de;
}

.takeawayCard {
  background-color: #e8d4ed;
}

.cardTop {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.cardMiddle {
  font-weight: 600;
}

.cardBottom {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  align-items: center;
}

.statusPill {
  color: white;
  padding: 4px 8px;
  font-size: 10px;
  border-radius: 9999px;
  background-color: #0e5f5c;
}

.rightButton {
  position: absolute;
  right: -15px;
  top: 0;
  z-index: 1;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.leftButton {
  position: absolute;
  left: -15px;
  top: 0;
  z-index: 1;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 1600px) {
  .card {
    width: 32.4%;
  }
}
