.mainContainer {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 10;
}

.logoContainer {
  font-family: "Epilogue";
  font-weight: 600;
}

.bellIconContainer {
  padding: 8px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 100%;
}

.bellIcon {
  width: 16px;
  height: 16px;
  color: gray;
  stroke-width: 2px;
}

.adminContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}

.avatarContainer {
  width: 35px;
  height: 35px;
}

.avatarContainer img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  /* object-position: top; */
  border-radius: 100%;
  border: 1px solid gainsboro;
}

.userContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: "Epilogue";
}

.name {
  font-size: 12px;
  font-weight: 500;
}

.role {
  font-size: 10px;
  color: gray;
  display: flex;
  align-items: center;
  gap: 4px;
}

.menuContainer {
  padding: 4px;
  width: 200px;
  gap: 6px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.menuItem {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
