.mainContainer {
  display: flex;
  gap: 28px;
}

.sidebarContainer {
  width: 200px;
}

.componentContainer {
  width: 100%;
  margin-top: 68px;
}

/* Resoltion - 768px x 1024px
Device - iPad  */

@media (max-width: 768px), (max-width: 1024px) {
  .componentContainer {
    margin-left: 40px;
    overflow-x: hidden;
  }

  .sidebarContainer {
    width: unset;
  }
}
