.mainContainer {
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  font-family: "Epilogue";
  font-weight: 400;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.navigators {
  display: flex;
  gap: 4px;
}

.categoriesCardContainer {
  margin-top: 12px;
  display: flex;
  gap: 12px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  width: 100%;
}

.categoriesCardContainer::-webkit-scrollbar {
  display: none;
}

.categoryCard {
  display: inline-flex;
  gap: 12px;
  align-items: center;
  border: 1.5px solid gainsboro;
  width: 19.1%;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  flex-shrink: 0;
  flex-grow: 0;
}

.activeCategoryCard {
  border: 2px solid #16a19c;
}

.categoryImage {
  font-size: 20px;
}

.categoryName {
  font-size: 12px;
}

.categoryCount {
  font-size: 10px;
  color: gray;
}

.menuCardContainer {
  display: flex;
  gap: 12px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  flex-wrap: wrap;
  flex: 1;
  min-height: 0;
  align-content: flex-start;
}

.menuCard {
  /* width: 19.1%; */
  width: calc(20% - 10px);
  height: 180px;
  border: 1px solid gainsboro;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.cardEmoji {
  font-size: 44px;
}

.menuCategory {
  font-size: 12px;
  color: gray;
}

.itemName {
  font-size: 14px;
}

.priceQuantityContainer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 14px;
  font-weight: 500;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 8px;
}

.quantityText {
  font-size: 12px;
}

.minusContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stickyTopContainer {
  position: sticky;
  top: 100px;
  z-index: 10;
  padding-bottom: 16px;
  background-color: white;
}

.activeDishCard {
  border: 1.5px solid #16a19c;
  box-shadow: 0 0 4px rgba(16, 185, 129, 0.5);
}

@media (max-width: 1600px) {
  .stickyTopContainer {
    width: 100%;
  }

  .categoryCard {
    width: 18.8%;
  }

  .menuCard {
    width: 18.8%;
  }
}
