.dialogHeader {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 16px;
  text-align: center;
}

.dialogRow {
  display: flex;
  justify-content: space-between;
}

.customDialogRow {
  display: flex;
  justify-content: space-between;
}

.rowField {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  width: 150px;
  justify-content: center;
}

.iconContainer {
  width: 16px;
  height: 16px;
  padding: 2px;
  background-color: rgb(180, 180, 180);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
