.mainContainer {
  overflow: hidden;
  display: flex;
}

.leftSideContainer {
  height: calc(100vh - 70px);
  width: 20%;
  background-color: #f0f0f0;
  padding: 16px;
  position: relative;
  overflow: hidden;
}

.searchBarContainer {
  display: flex;
  gap: 8px;
}

.searchBar {
  width: 90%;
}

.customerCardContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.customerContainer {
  margin-top: 24px;
  height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 48px;
}

.customerContainer::-webkit-scrollbar {
  display: none;
}

.customerCard {
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  cursor: pointer;
}

.customerName {
  font-weight: 500;
  font-size: 15px;
}

.timeCard {
  display: flex;
  align-items: center;
  background-color: #e9f4f5;
  text-align: center;
  padding: 16px 12px;
  border-radius: 6px;
  font-weight: 500;
  color: #0b615b;
  height: 80px;
  width: 60px;
  justify-content: center;
}

.freeTimeCard {
  display: flex;
  align-items: center;
  background-color: #edeffe;
  text-align: center;
  padding: 16px 12px;
  border-radius: 6px;
  font-weight: 500;
  color: #6a69bb;
  height: 80px;
  width: 60px;
  justify-content: center;
}

.tableDetails {
  display: flex;
  gap: 8px;
}

.table,
.people {
  display: flex;
  font-size: 14px;
  align-items: center;
  gap: 4px;
}

.customerDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.phoneNumber {
  display: flex;
  font-size: 12px;
  align-items: center;
  gap: 4px;
}

.checkIconContainer {
  background-color: #4bab44;
  border-radius: 100%;
  padding: 2px;
}

.UncheckIconContainer {
  background-color: #d3d3d3;
  border-radius: 100%;
  padding: 2px;
}

.paymentStatus {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
}

.firstContainer {
  display: flex;
  gap: 16px;
}

.addTableButtonContainer {
  background-color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

.rightSideContainer {
  padding: 24px;
  width: 80%;
}

.ManageTableHeader {
  font-family: "Epilogue";
  font-weight: 400;
  font-size: 18px;
}

.tableCanvasContainer {
  background-color: #f0f0f0;
  width: 100%;
  margin-top: 16px;
  border-radius: 8px;
  height: calc(100vh - 186px);
  padding: 48px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tableCanvasContainer::-webkit-scrollbar {
  display: none;
}

.tableRow {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
  align-items: center;
  justify-content: center;
}

.tableLegendItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.OccupiedIndicator {
  background-color: lightgreen;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.AvailableIndicator {
  background-color: #99a5f9;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.tableLegendContainer {
  margin-top: 8px;
  font-size: 12px;
  display: flex;
  gap: 16px;
}

.noTablesMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: gray;
  font-size: 14px;
}

@media (min-width: 1600px) {
  .leftSideContainer {
    width: 30%;
  }
  .tableCard {
    width: 240px;
    height: 120px;
  }

  .tableGap {
    gap: 32px;
  }

  .freeTableCardSquare,
  .tableCardSquare {
    height: 120px;
    width: 160px;
  }
}

@media (max-width: 1600px) {
  .leftSideContainer {
    width: 30%;
  }
}
