.leftSideContainer {
  height: 100vh;
  width: 20%;
  background-color: #f0f0f0;
  padding: 16px;
}

.searchBarContainer {
  display: flex;
  gap: 8px;
}

.searchBar {
  width: 90%;
}

.customerCardContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.customerContainer {
  margin-top: 24px;
}

.customerCard {
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.customerName {
  font-weight: 500;
  font-size: 15px;
}

.timeCard {
  display: flex;
  align-items: center;
  background-color: #e9f4f5;
  text-align: center;
  padding: 16px 12px;
  border-radius: 6px;
  font-weight: 500;
  color: #0b615b;
  height: 80px;
}

.freeTimeCard {
  display: flex;
  align-items: center;
  background-color: #edeffe;
  text-align: center;
  padding: 16px 12px;
  border-radius: 6px;
  font-weight: 500;
  color: #6a69bb;
  height: 80px;
}

.tableDetails {
  display: flex;
  gap: 8px;
}

.table,
.people {
  display: flex;
  font-size: 14px;
  align-items: center;
  gap: 4px;
}

.customerDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.phoneNumber {
  display: flex;
  font-size: 12px;
  align-items: center;
  gap: 4px;
}

.checkIconContainer {
  background-color: #4bab44;
  border-radius: 100%;
  padding: 2px;
}

.UncheckIconContainer {
  background-color: #d3d3d3;
  border-radius: 100%;
  padding: 2px;
}

.paymentStatus {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
}

.firstContainer {
  display: flex;
  gap: 16px;
}

@media (max-width: 1600px) {
  .leftSideContainer {
    width: 30%;
  }
}
