.header {
  font-family: "Epilogue";
  font-weight: 400;
  font-size: 18px;
}

.welcomeUserContainer {
  font-size: 34px;
  font-weight: 600;
  margin-top: 24px;
}

.overviewCardsContainer {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.overviewCard {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  width: 24%;
  border-radius: 8px;
  border: 2px solid rgb(230, 230, 230);
}

.cardHeaderContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cardIcon {
  background-color: rgb(240, 240, 240);
  color: gray;
  padding: 4px;
  border-radius: 4px;
}

.cardHeader {
  font-size: 14px;
}

.cardData {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.comparison {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
}

.indicatorWrapper {
  position: relative;
  width: 8px;
  height: 8px;
}

.dot {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  z-index: 2;
}

.ping {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  z-index: 1;
  opacity: 1;
}

.stop {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff4d4f;
}
