.mainContainer {
  height: 100vh;
  display: flex;
}

.leftSide {
  width: 50%;
}

.rightSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0% 8%;
  gap: 40px;
}
