.mainContainer {
  display: flex;
}

.leftSide {
  width: 70%;
}

.rightSide {
  width: 26%;
  background-color: whitesmoke;
  padding: 24px;
  overflow: hidden;
  position: fixed;
  right: 0;
}

/* Resoltion - 768px x 1024px
Device - iPad  */

@media (max-width: 768px), (max-width: 1024px) {
  .leftSide {
    width: 100%;
  }

  .rightSide {
    display: none;
  }
}
